<meta charset="utf-8">

<title>Pixel Spot</title>
<meta name="description" content="A template app for building Express/Mongoose.">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
