
      <fieldset class="form-group row search-info">
        <label for="title" class="col-xs-4 form-control-label">Spot title:</label>
        <div class="col-xs-8">
          <input id="title" name="title" type="text" value="<$= spot.title $>">
        </div>

        <label for="flickr-url" class="col-xs-4 form-control-label">Flickr url:</label>
        <div class="col-xs-8">
          <input id="flickr-url" name="flickr-url" type="text" value="<$= spot.flickr_url $>">
        </div>
        <label for="address" class="col-xs-4 form-control-label">Spot address:</label>
        <div class="col-xs-8">
          <input id="address" name="address" type="text" value="<$= spot.address $>">
        </div>
        <label for="description" class="col-xs-4 form-control-label">Spot description:</label>
        <div class="col-xs-8">
          <input id="new-description" name="description" type="text" value="<$= spot.description $>">
        </div>
      </fieldset>

      <fieldset class="form-group row tags">
        <div class="col-xs-12">
          <p>Please select the appropriate tags:</p>
        </div>
        <div class="col-xs-4">
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Nature">Nature
          </label><br>
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Urban">Urban
          </label><br>
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Family">Family
          </label><br>
        </div>

        <div class="col-xs-4">
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Beach">Beach
          </label><br>
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Park">Park
          </label><br>
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Engagement">Engagement
          </label><br>
        </div>

        <div class="col-xs-4">
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Garden">Garden
          </label><br>
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Museum">Museum
          </label><br>
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Wedding">Wedding
          </label><br>
        </div>
      </fieldset>

      <br>

      <fieldset class="form-group row spot-info">
        <label for="additional-tags" class="col-xs-4 form-control-label">Additional tags:</label>
        <div class="col-xs-8">
          <input id="additional-tags" name="additional-tags" type="text" value="<$= additionalTags $>">
        </div>
      </fieldset>
