*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
}

a { color: #00B7FF; }


/*Navigation Bar Styling*/
#nav-left {
  padding-left: 50px;
}

#nav-center {
  padding-left: 120px;

}

#nav-right {
  text-align: center;
  padding-top: 15px;
  padding-left: 196px;
}


/*Welcome page styling*/


.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.landingImage {
  max-width: 300px;
  max-height: 300px;
  padding-top: 103px;
}

h3 {
  text-align: center;
}

/* New Spot Form */

.new-spot {
  border: 1px solid black;
  padding: 20px 20px 10px 20px;
  min-width: 400px;
  /*width: 770px;*/
  max-width: 770px;
  margin: 0 auto;
}

.spot-info input[type="text"] {
  width: 70%;
}

.tags,
.tags label {
  font-weight: bold;
}

.tags .col-xs-4 {
  padding-left: 40px;
}

.new-spot input[type="submit"] {
  float: right;
  position: relative;
  top: -45px;
}

/* ******************* */

