*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
}

a { color: #00B7FF; }


/*Navigation Bar Styling*/
#nav-left {
  padding-left: 50px;
}

#nav-center {
  padding-left: 120px;

}

#nav-right {
  text-align: center;
  padding-top: 15px;
  padding-left: 196px;
}

/*Welcome page styling*/

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
