*,
html,
body {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
  background-color: #F5F5F5;
}

a { color: #F8F8FF; }


a.like {
  color: midnightblue;
  font-size: 20px;
}

a.like + span.like {
  color: midnightblue;
  font-size: 20px;
}


/*Navigation Bar Styling*/
.navbar-default {
  background-color: midnightblue;
}

#navLinks {
  color: white;
  font-size: 20px;
}

#logoPin {
  max-height: 48px;
  margin-top: 2px;
  margin-right: 10px;
  float: left;
  margin-left: 0px;
}

#nav-left {
  padding-left: 30px;
}

#nav-center {
  padding-left: 120px;

}

#nav-right {
  text-align: center;
  padding-top: 15px;
  padding-left: 22%;
  font-size: 17px;
}


/*Welcome page styling*/


.welcomeContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.landingImage {
  max-width: 300px;
  max-height: 300px;
  padding-top: 103px;
}

#left {
  background-color:;
}

/* TODO this needs to be changed to be more specific to a subset of objects */
h3 {
  text-align: center;
}

/* New Spot Form */

.new-spot {
  border: 1px solid black;
  padding: 20px 20px 10px 20px;
  min-width: 400px;
  /*width: 770px;*/
  max-width: 770px;
  margin: 0 auto;
  margin-top: 90px;
  background-color: #FFFFFF;
}

.spot-info input[type="text"] {
  width: 70%;
}

.tags,
.tags label {
  font-weight: bold;
}

.tags .col-xs-4 {
  padding-left: 40px;
}

.new-spot input[type="submit"] {
  float: right;
  position: relative;
  top: -45px;
  background-color: midnightblue;
}

/*Search view styling*/

.searchForm {
  border: 1px solid black;
  padding: 20px 20px 10px 20px;
  min-width: 400px;
  width: 1080px;
  max-width: 770px;
  margin: 0 auto;
  margin-top: 90px;
  background-color: #FFFFFF;
}

.search-info input[type="text"] {
  width: 70%;
}

.tags,
.tags label {
  font-weight: bold;
}

.tags .col-xs-4 {
  padding-left: 40px;
}

.search input[type="submit"] {
  float: right;
  margin-left: 300px;
  top: -45px;
  background-color: midnightblue;
}

.results {
  text-align: center;
/*  border: 1px solid black;
*/  padding: 10px 20px 10px 20px;
/*  min-width: 400px;
  width: 1080px;*/
  margin: 0 auto;
  margin-top: 20px;
  background-color: #F5F5F5;
}

p.results {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.searchresults {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
}

#searchView {
  min-width: 400px;
  /* width: 1080px; */
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

/*Show page styling with map and advanced image details*/

.showContainer {
  width: 960px;
  text-align: center;
  font-size: 20px;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px auto;
  margin-top: 10px;
}

.showContainer .showImage {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 75%;
  margin: 0 auto;
}

.imageDetails {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#showTitle {
  font-size: 25px;
  font-weight: 700;
}

.imageDetails #showDetails {
  width: 50%;
  float: left;
}

.showMap {
  padding-right: 10px;
  float: right;
}

#downvote:hover,
#upvote:hover {
  cursor: pointer;
}


/* ******************* */
/*User show View (user profile) */


#userName {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
}

#imageTitle{
  padding-top: 24px;
  font-weight: bold;
  font-size: 20px;
}

#description {
  font-size: 16px;
  position:  absolute;
  left: 100px;
  top: 300px;
}


.post {
  padding-left: 10%;
  text-align: center;
}

.buttons {
  position: absolute;
  bottom: 5px;
  right: 100px;
  left: 100px;
}



/*Users show view to edit and delete spots*/

.btn-primary {
  background-color: midnightblue;
}


/* index views */
.jumbotron {
  margin-top: 10px;
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://i.imgur.com/O62ezqz.png");
  background-size: cover;
}

#indexJumbo {
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 15px;
}

#pJumbo{
  font-size: 35px;
  letter-spacing: 10px;
}

#indexView {
  width: 1080px;
  text-align: center;
}

#indexHeader{
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 10px;
  width: 1080px;
}

.indexTemplate {
  display:inline-block;
  text-align:center;
}

.indexSpotContainer {
  position: relative;
  height: 375px;
  width: 350px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  background-color: white;

}

.welcomeIndexSpotContainer {
  position: relative;
  height: 350px;
  width: 350px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  bottom: 10px;
  background-color: white;
}

.maxImageWidth {
  margin-top: 20px;
  max-height: 215px;
  max-width: 300px;
}

#indexText {
  position: absolute;
  width: 325px;
  bottom: 10px;
}

#indexTitle {
  font-size: 20px;
  font-weight: 700;
}

#containerButton {
  position: absolute;
  bottom: 10px;
  left: 144px;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.map {
  display:inline-block;
  width:50%;
  height:300px;
}



