*,
html,
body {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
  background-color: #F5F5F5;
}

a { color: #F8F8FF; }


a.like {
  color: midnightblue;
  font-size: 20px;
}

a.like + span.like {
  color: midnightblue;
  font-size: 20px;
}


/*Navigation Bar Styling*/
.navbar-default {
  background-color: midnightblue;
}

#navLinks {
  color: white;
  font-size: 15px;
}

#logoPin {
  max-height: 48px;
  margin-top: 2px;
  margin-right: 10px;
  float: left;
  margin-left: 0px;
}

#nav-left {
  padding-left: 30px;
}

#nav-center {
  padding-left: 120px;

}

#nav-right {
  text-align: right;
  padding-top: 15px;
  padding-left: 196px;
  font-size: 15px;
}


/*Welcome page styling*/


.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.landingImage {
  max-width: 300px;
  max-height: 300px;
  padding-top: 103px;
}

#left {
  background-color:;
}

/* TODO this needs to be changed to be more specific to a subset of objects */
h3 {
  text-align: center;
}

/* New Spot Form */

.new-spot {
  border: 1px solid black;
  padding: 20px 20px 10px 20px;
  min-width: 400px;
  /*width: 770px;*/
  max-width: 770px;
  margin: 0 auto;
  margin-top: 90px;
  background-color: #FFFFFF;
}

.spot-info input[type="text"] {
  width: 70%;
}

.tags,
.tags label {
  font-weight: bold;
}

.tags .col-xs-4 {
  padding-left: 40px;
}

.new-spot input[type="submit"] {
  float: right;
  position: relative;
  top: -45px;
  background-color: midnightblue;
}

/*Search view styling*/

.searchForm {
  border: 1px solid black;
  padding: 20px 20px 10px 20px;
  min-width: 400px;
  /*width: 770px;*/
  max-width: 770px;
  margin: 0 auto;
  margin-top: 90px;
  background-color: #FFFFFF;
}

.search-info input[type="text"] {
  width: 70%;
}

.tags,
.tags label {
  font-weight: bold;
}

.tags .col-xs-4 {
  padding-left: 40px;
}

.search input[type="submit"] {
  float: right;
  position: relative;
  top: -45px;
  background-color: midnightblue;
}

.results {
  text-align: center;
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  min-width: 400px;
  max-width: 770px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #FFFFFF;
}

p.results {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

/*Show page styling with map and advanced image details*/

.showContainer {
  width: 960px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #FFFFFF;

}

.showContainer .showImage {
  width: 75%;
  margin: 0 auto;
}

.imageDetails {
  width: 75%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.imageDetails #showDetails {
  width: 60%;
  float: left;
}

.showMap {
  padding-right: 10px;
  float: right;
}


/* ******************* */
/*User Profile */

.userImage {
  float: left;
  margin: 20px;
  max-width: 60%;
}

.box {
  text-align: center;
}

.boxContent {
  margin-right: 10px;
/*  font-family: 'Josefin Sans', sans-serif;*/
  font-weight: bold;
}

#profileImage {
  max-height: 70%;
  max-width: 80%;
}

#userName {
  text-align: center;
/*  font-family: 'Josefin Sans', sans-serif;*/
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
}

#title{
  padding-top: 24px;
  font-weight: bold;
  font-size: 20px;
}

#description {
  padding-top: 20px;
}

