<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>

  <!-- <$- include('../partials/header', {subHeading: 'Welcome'}) $> -->
  <div class="container">
    <div class="left">
      TOP HIT: URBAN
    </div>
    <div class="center">
      TOP HIT: NATURE
    </div>
    <div class="right">
      TOP HIT: FAMILY
    </div>
  </div>

  <!-- include('../partials/header', {subHeading: 'Welcome'}) %> -->

  <main>

  </main>
<a href="/spots">All Spots</a>
  <$- include('../partials/scripts') $>
</body>
</html>
