<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', {subHeading: 'Welcome'}) $>
  <main>
    <div class="container">
      <div id="left">
        <img class="landingImage" src="images/walt-disney-concert-hall.jpg"/>
        <h3>Top Spot: URBAN</h3>
      </div>
      <div id="center">
        <img class="landingImage" src="images/bench-nature.jpg" />
        <h3>Top Spot: NATURE</h3>
      </div>
      <div id="right">
        <img class="landingImage" src="images/family.jpg" />
        <h3>Top Spot: FAMILY</h3>
      </div>
   </div>
  </main>
  <$- include('../partials/scripts') $>
</body>
</html>
