<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>

  <!-- <$- include('../partials/header', {subHeading: 'Welcome'}) $> -->
  <div class="container">
    <div class="left">
      TOP HIT: URBAN
    </div>
    <div class="center">
      TOP HIT: NATURE
    </div>
    <div class="right">
      TOP HIT: FAMILY
    </div>
  </div>

  <!-- include('../partials/header', {subHeading: 'Welcome'}) %> -->

  <main>

    <div class="container">
      <div id="left">
        Top Spot: URBAN
      </div>
      <div id="center">
        Top Spot: NATURE
      </div>
      <div id="right">
        Top Spot: FAMILY
      </div>
   </div>
  </main>
<a href="/spots">All Spots</a>
  <$- include('../partials/scripts') $>
</body>
</html>
