<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', {subHeading: 'Welcome'}) $>
  <main>

   <div class="container-fluid box" id="indexView">

      <div class="jumbotron">
        <span id="indexJumbo">
        Pixel
        <img src="https://i.imgur.com/wodL1a6.png" width="75px"/>
        Spot
        </span>
        <p id="pJumbo">find your next shot!</p>
      </div>

     <div id="indexHeader">
       <p>Top Rated Spots</p>
     </div>

     <div class="row indexTemplate">
       <$ spots.forEach(function (spot) { $>

         <div class="col-md-4 welcomeIndexSpotContainer box-shadow--4dp">

           <div>
            <a href="spots/<$= spot._id $>">
             <img class="maxImageWidth box-shadow--2dp img-thumbnail" src=<$= spot.image_url $>>
            </a>
           </div>

          <div id="indexText">
          <p id="indexTitle"> <$= spot.title $> </p>

          <span> Rating: <$= spot.rating $> </span>
          </div>

         </div>

       <$ }); $>
     </div>

   </div>

  </main>
  <$- include('../partials/scripts') $>
</body>
</html>
