<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', { subHeading: user.name + "'s Profile" }) $>

<main>
  <div  class="container-fluid box" id="userName">
   <p> <$= otherUser.name $>'s Spots!</p>
  </div>
    <div class="container-fluid box">
      <$ otherUser.spots.forEach(function(spot) { $>
      <div class="col-md-4 indexSpotContainer box-shadow--4dp">
        <p id="imageTitle"><$= spot.title$></p>
        <img class="maxImageWidth box-shadow--2dp"src="<$= spot.image_url $>" >
        <p id="description">"<$= spot.description$>"</p>
        <p class="buttons"><input type="button" class="btn btn-primary" value="Edit" id="btn-advanced-edit">
        <input type="button" class="btn btn-primary" value="Delete" id="btn-advanced-delete"></p>

      </div>
      <$ }); $>
    </div>
</main>

  <$- include('../partials/scripts') $>
</body>
</html>
