<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', { subHeading: user.name + "'s Profile" }) $>

<main>
  <div  id="userName">
   <p> <$= otherUser.name $> Spots!</p>
  </div>
    <div class="container box">
      <$ otherUser.spots.forEach(function(spot) { $>
      <div class="col-md-4 panel panel-default space center-block boxContent">
        <p id="title"><$= spot.title$></p>
        <img id="profileImage" src="<$= spot.image_url $>">
        <p id="description">"<$= spot.description$>"</p>
      </div>
      <$ }); $>
    </div>
</main>

  <$- include('../partials/scripts') $>
</body>
</html>
