<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header') $>
  <main>
    <form id="edit-spot-form" class="form new-spot">
      <$- include('../partials/spot') $>
      <input type="button" class="btn btn-primary" id="btn-edit" value="Save" data-id="<$= spot._id $>">
    </form>
  </main>

  <$- include('../partials/scripts') $>
</body>

</html>
