<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', {subHeading: 'Welcome'}) $>

  <div class="container-fluid box">

    <div id="userName">
      <p>Search Results</p>
    </div>

    <div class="row indexTemplate">
      <$ spots.forEach(function (spot) { $>

        <div class="col-md-4 indexSpotContainer box-shadow--4dp">

          <div>
            <a href="spots/<$= spot._id $>">
            <img class="maxImageWidth box-shadow--2dp" src=<$= spot.image_url $>>
            </a>
          </div>

          <div id="indexText">
          <p id="title"> <$= spot.title $> </p>

          <span> Tags:
            <$ var tagString = "" $>
            <$ spot.tags.forEach(function (tag) { $>
            <$ tagString += (tag.tag_name + ", ");$>
            <$ }); $>
            <$= tagString.replace(/,\s*$/, ""); $>
          </span>
          <br>

          <span> Rating: <$= spot.rating $> </span>
          <br>
          </div>

        </div>

      <$ }); $>
    </div>

  </div>

  <$- include('../partials/scripts') $>
</body>
</html>

