<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
<h2>Spots/Index</h2>
<$ spots.forEach(function (spot) { $>
  <$= spot.title $>
<br>
  <$ spot.tags.forEach(function (tag) { $>
    <$= tag.tag_name $><br>
  <$ }); $>

<$ }); $>
</body>
</html>

