<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', {subHeading: 'Welcome'}) $>
  <h2>Search Results</h2>
  <div class="container box">
    <$ spots.forEach(function (spot) { $>
    <div class="indexTemplate">
      <div class="indexSpotContainer">
        <h2><$= spot.title $></h2>
          <div>
          <img class="maxImageWidth" src=<$= spot.image_url $>>
          </div>
         <br>
         <span> Tags:
          <$ var tagString = "" $>
          <$ spot.tags.forEach(function (tag) { $>
            <$ tagString += (tag.tag_name + ", ");$>
          <$ }); $>
            <$= tagString.replace(/,\s*$/, ""); $>
          </span>
        <br />
      </div>
    </div>
    <$ }); $>
  </div>

  <$- include('../partials/scripts') $>
</body>
</html>

