<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <main>
    <form id="new-spot-form" class="form new-spot">

      <fieldset class="form-group row spot-info">
        <label for="title" class="col-xs-4 form-control-label">Spot title:</label>
        <div class="col-xs-8">
          <input id="title" name="title" type="text">
        </div>

        <label for="photo-url" class="col-xs-4 form-control-label">Photo url:</label>
        <div class="col-xs-8">
          <input id="photo-url" name="photo-url" type="text">
        </div>

        <label for="location" class="col-xs-4 form-control-label">Spot location:</label>
        <div class="col-xs-8">
          <input id="location" name="location" type="text">
        </div>

        <label for="description" class="col-xs-4 form-control-label">Spot description:</label>
        <div class="col-xs-8">
          <input id="description" name="description" type="text">
        </div>
      </fieldset>

      <fieldset class="form-group row tags">
        <div class="col-xs-12">
          <p>Please select the appropriate tags:</p>
        </div>
        <div class="col-xs-4">
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Nature">Nature
          </label><br>
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Urban">Urban
          </label><br>
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Family">Family
          </label><br>
        </div>

        <div class="col-xs-4">
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Beach">Beach
          </label><br>
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Park">Park
          </label><br>
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Engagement">Engagement
          </label><br>
        </div>

        <div class="col-xs-4">
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Garden">Garden
          </label><br>
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Museum">Museum
          </label><br>
          <label class="checkbox-inline">
            <input name="tags" type="checkbox" value="Wedding">Wedding
          </label><br>
        </div>
      </fieldset>

      <br>

      <fieldset class="form-group row spot-info">
        <label for="additional-tags" class="col-xs-4 form-control-label">Additional tags:</label>
        <div class="col-xs-8">
          <input id="additional-tags" name="additional-tags" type="text">
        </div>
      </fieldset>

      <input type="submit" class="btn btn-primary">
    </form>
  </main>

  <$- include('../partials/scripts') $>
  <script type="text/javascript">
    $(document).ready(function() {
      $newSpotForm = $('#new-spot-form');
      $newSpotForm.on('submit', function(e) {
        e.preventDefault();
        var formData = $(e.target).serializeArray()

        console.log(formData);
        // AJAX call and close modal
      });
    });
  </script>

</body>
</html>
