<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', {subHeading: 'Welcome', user: false}) $>
  <main>

      <div class="showContainer box-shadow--4dp">

        <div id="mainImage">
            <img class="showImage" src="<$= spot.image_url $>" />
        </div>

        <div class="imageDetails">
          <div id="showDetails">

            <p id="showTitle">Title: <$= spot.title $></p>

            <br>
            <$= spot.description $>
            <br>
            <$= spot.address $>
            <br>
            <!--<a href="/spots/<$= spot._id $>/downvote" class="like">-->
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" data-value="-1" data-id="<$= spot._id $>" id="downvote"></span>
            <!--</a>-->
            &nbsp;&nbsp;<span class="like" id="rating"><$= spot.rating $></span>&nbsp;&nbsp;
            <!--<a href="/spots/<$= spot._id $>/upvote" class="like">-->
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" data-value="1" data-id="<$= spot._id $>" id="upvote"></span>
            <!--</a>-->
            <br>
            <br>
            <$ spot.tags.forEach(function(tag) {$>
            <$= tag.tag_name $>
            <$ }) $>
            <br>
          </div>

          <div class="map" id="map" data-name="<$= spot.title $>"
          data-lat="<$= spot.lat $>" data-lon="<$= spot.lng $>">
          </div>
        </div>
      </div>
  </main>

  <$- include('../partials/scripts') $>
  <script type="text/javascript">
    function initMap(loc, lat,lon)
    {
      var mapProp = {
        center:new google.maps.LatLng(lat,lon),
        zoom:13,
        zoomControl: true,
        scaleControl: true,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map"),mapProp);
      var myLatLng = {lat: lat, lng: lon};
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: loc
      });
    }

    $(document).ready(function(){
        $("#map").each(function(index){
          initMap($(this).attr("data-name"),
                  parseFloat($(this).attr("data-lat")),
                  parseFloat($(this).attr("data-lon")));
      })
    });
  </script>

</body>
</html>
