<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', {subHeading: 'Welcome', user: false}) $>
  <main>
    <h1>text</h1>

      <div class="showContainer">

        <div id="mainImage">
          <h3>Image title</h3>
            <img class="showImage" src="/images/bench-nature.jpg" /> <!-- <$= spot[0].image_url $> > -->
        </div>

        <div id="showDetails">
          <$= spot[0].title $>
          <br>
          <$= spot[0].description $>
          <br>
          <!-- <img src="/images/bench-nature.jpg" /> -->
          <br>
          <$= spot[0].address $>
          <br>
          <$= spot[0].rating $>
          <br>
          <$= spot[0].tags $>
          <br>
        </div>

        <div id="showMap">
          <img class="showImageMap" src="/images/map.jpeg" />
        </div>

      </div>
  </main>

  <$- include('../partials/scripts') $>
  <script type="text/javascript">

  </script>

</body>
</html>
