<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <$- include('../partials/header', {subHeading: 'Welcome', user: false}) $>
  <main>

      <div class="showContainer">

        <div id="mainImage">
            <img class="showImage" src="/images/bench-nature.jpg" /> <!-- <$= spot.image_url $> > -->
        </div>

        <div class="imageDetails">
          <div id="showDetails">
            <$= spot.title $>
            <br>
            <$= spot.description $>
            <br>
            <$= spot.address $>
            <br>
            <a href="/spots/<$= spot._id $>/downvote" class="like"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
            &nbsp;&nbsp;<span class="like"><$= spot.rating $></span>&nbsp;&nbsp;
            <a href="/spots/<$= spot._id $>/upvote" class="like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
            <br>
            <$ spot.tags.forEach(function(tag) {$>
            <$= tag.tag_name $>
            <$ }) $>
            <br>
          </div>

          <div id="showMap">
            <img class="showImageMap" src="/images/map.jpeg" />
          </div>
        </div>
      </div>
  </main>

  <$- include('../partials/scripts') $>
  <script type="text/javascript">

  </script>

</body>
</html>
