<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body>
  <h1>text</h1>

  <$= spot[0].title $>
  <br>
  <$= spot[0].description $>
  <br>
  <img src="<$= spot[0].image_url $>" >
  <br>
  <$= spot[0].address $>
  <br>
  <$= spot[0].rating $>
  <br>
  <$= spot[0].tags $>
  <br>

</body>
